@media (max-width: 640px) {
  .flex-cols-3 {
    flex-direction: column; /* Stack columns on top of each other for small screens */
  }
  .mr-3,
  .mr-0 {
    margin-right: 0; /* Remove right margin for the first column on small screens */
  }
  .col-span-2 {
    grid-column: span 3; /* Make the second column span full width on small screens */
    margin-right: 0; /* Remove right margin for the second column on small screens */
  }
  .rounded-3xl {
    border-radius: 0; /* Remove border-radius for images on small screens */
  }
}

/* styles.css */

/* Default size for larger screens */
.svg {
  max-width: 600px; /* You can set a max width for larger screens */
}

/* Responsive styles for small screens */
@media (max-width: 640px) {
  /* Adjust the breakpoint as necessary */
  .svg {
    max-width: 100%; /* Make it full width on small screens */
    height: auto; /* Maintain aspect ratio */
  }
}

.path {
  stroke-dasharray: 3417.884521484375px;
  stroke: white;
  stroke-dashoffset: 3417.884521484375px;
  animation: LineAnimation 2s ease forwards; /* Corrected here */
}

@keyframes LineAnimation {
  to {
    stroke-dashoffset: 0px;
  }
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent; /* Hide the track */
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-button {
  display: none;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}
